    .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    
    .text-center{
        text-align: center;
    }

    .dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
    }
  
    body {
        background-color: #042f4b;
        background-image: url(https://i.gifer.com/Dv9E.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .Player1, .Player2{
        color: black;
        background-color: lightblue;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid black;
    }
  
    h1 {
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 #232931;
        font-size: 4.5rem;
        color: white;
        text-align: center;
    }
  
    p {
        font-size: 2.5rem;
        color: blue;
        font-family: "Indie Flower", cursive;
    }
  
    img {
        width: 100%;
    }
  
    .bottom {
        padding-top: 30px;
    }
  
    .butn {
        background: blue;
        font-family: "Indie Flower", cursive;
        border-radius: 7px;
        color: #ffff;
        font-size: 30px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
    }
  
    .butn:hover {
        background: #232931;
        text-decoration: none;
    }

    /* Responsive Design */
@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .butn{
        top: 200px;
        width: 63vw;
    }

    img {
        width: 100%;
    }

    .dice{
        width: 55vw;
        margin: 10px 0px 10px 45px;
    }

    h1 {
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 #232931;
        font-size: 2.5rem;
        color: white;
        text-align: center;
    }

    .container {
        width: 70%;
        text-align: center;
        margin: 41px;
    }

    p {
        font-size: 2.5rem;
        color: blue;
        font-family: "Indie Flower", cursive;
    }
}